# Vim
*~
*.bak

#Goland
.idea/

# macOS
.DS_Store

# Vscode
.vscode

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/

# Terraform
.terraform
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfvars
*.tfstate*
resolved_models.json
